﻿.guitarCollection {
    display: -ms-grid;
    -ms-grid-columns: 30px 1fr; /*width*/
    -ms-grid-rows: 865px 35px; /*height*/
}

#gcMain {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    width: 100%;
    height: 100%;
}

#gcFooter {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    background-color: black;
    width: 100%;
    position: fixed;
    clear: both;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.gcFooterContent {
    width: 100%;
}

ul#bottomMenu {
    display: block;
}

    ul#bottomMenu li {
        display: inline;
        float: left;
        background: url(/resources/images/assets/nav_bottom_dividerline.png) right no-repeat;
        height: 30px;
        padding: 2px 2px 2px 2px;
        width: 30px;
    }

        ul#bottomMenu li.last {
            background: none;
        }


#gcListView {
    min-height: 710px;
    left: 0px;
    top: 0px;
    width: 100%;
}

    #gcListView.listview {
        width: 100vw;
        height: 100vh;
    }

    #gcListView > .win-horizontal .win-container {
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #gcListView .win-container:hover {
        outline: none;
        border: none;
    }


.gcItemTemplate {
    display: -ms-grid;
    -ms-grid-columns: 400px; /*width*/
    -ms-grid-rows: 35px 700px; /*height*/
}

.guitarNameContainer {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    color: white;
    background-color: black;
}

.guitarImageContainer {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    overflow: hidden;
    width: 357px;
}

    .guitarImageContainer img {
        position: absolute;
        margin: auto;
        top:35px;
        bottom: 0;
        left: 0;
        right: 0;
        height:85%;
    }
