﻿.homepage {
    -ms-grid-columns: 30px 1fr; /*width*/
    -ms-grid-rows: 120px 620px 40px; /*height*/
    /*background-image: url(/Resources/Images/Assets/toc_bg_last.png);*/
}

#viewport {
    -ms-grid-row-span: 3;
    -ms-grid-column-span: 2;
    width: 100%;
    min-height: 800px;
    z-index: -1000;
}

#hHeader {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    /* Child grid for positioning header items.*/
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
}

.hHeaderContent {
    padding-left: 40px;
    padding-top: 15px;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

#hMain {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    /* Child grid for positioning header items.*/
    display: -ms-grid;
    -ms-grid-rows: 1fr;
}

#hContent {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: auto 190px;
    -ms-grid-rows: auto 50px;
}

#tocNav {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-top: 50px;
}

#home_bottomMenu {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

#hFooter {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 2;
    /* Child grid for positioning header items.*/
    width: 100%;
}

.hFooterContent {
    margin-left: 20px;
    width: 100%;
}

ol, ul {
    list-style: none;
    list-style-type: none;
}

.closeHeader {
    background-color: black;
    width: 100%;
}

#mastheadContainer {
    position: fixed;
    display: none;
    width: 395px;
    height: 600px;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-top: -292.5px; /* negative half the size of height */
    margin-left: -197.5px; /* negative half the size of width */
}

ul#home_bottomMenu {
    display: block;
}

    ul#home_bottomMenu li {
        display: inline;
        float: left;
    }


/*
    MUSIC LIBRARY
*/
#musicLib {
    display: -ms-grid;
    -ms-grid-rows: 25px 33px 1fr 40px;
    width: 350px;
    height: 100%;
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #e6e6e6;
    font-family: 'Palatino Linotype', 'Segoe UI', Georgia, serif;
    text-transform: uppercase;
    display: none;
    font-size: 13px;
}

    #musicLib .songLink {
        text-decoration: none;
        font-family: 'Palatino Linotype', 'Segoe UI', Georgia, serif;
        text-transform: uppercase;
        color: black;
        font-size: 13px;
    }

    #musicLib ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #musicLib ul li {
            border-top: 1px solid black;
            padding-left: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
        }

    #musicLib li li {
        border: none;
        padding-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid silver;
    }

        #musicLib li li:last-child {
            border: none;
            padding-left: 5px;
            margin-top: 10px;
            margin-bottom: 15px;
            padding-top: 10px;
            padding-bottom: 15px;
            border-bottom: none;
        }

    #musicLib .musicLibTop {
        -ms-grid-row: 1;
        background-color: black;
        height: 25px;
        position: fixed;
        width: 100%;
    }

    #musicLib .musicLibHeader {
        margin-left: 30px;
        top: 30px;
        position: fixed;
        width: 100%;
        height: 33px;
        -ms-grid-row: 2;
    }

    #musicLib .musicLibSongs {
        margin-left: 30px;
        top: 75px;
        position: fixed;
        -ms-grid-row: 3;
        overflow: auto;
        width: 250px;
        height: 90%;
    }

    #musicLib .musicLibFooter {
        position: fixed;
        bottom: 0;
        height: 40px;
        -ms-grid-row: 4;
        width: 100%;
        background-color: black;
    }

.songLabel {
    color: grey;
    font-size: 10px;
    margin-left: 25px;
}

.songData {
    color: #f97800;
    font-size: 10px;
}


.song {
    display: none;
}

#faqContainer {
    position: fixed;
    display: none;
    width: 365px;
    height: 500px;
    z-index: 200;
    top: 50%;
    left: 50%;
    margin-top: -292.5px; /* negative half the size of height */
    margin-left: -197.5px; /* negative half the size of width */
}

ul.musicLibMenu {
    display: block;
    right: 2px;
    bottom:0px;
    position: fixed;
    height:50px;
}

    ul.musicLibMenu li {
        display: inline;
        float: left;
        border-left: 1px solid white;        
        vertical-align:top;
        text-align:center;
        padding-right:5px;
        height:100%;
    }

        ul.musicLibMenu li:first-child {
            display: inline;
            float: left;
            border-left: none;
        }
