﻿@media screen and (-ms-view-state: fullscreen-landscape), (-ms-view-state: filled) {
    .guitarDetails {
        display: -ms-grid;
        -ms-grid-columns: 400px 966px;
    }

    #gdLeftCol {
        -ms-grid-column: 1;
        width: 400px;
        display: -ms-grid;
        -ms-grid-columns: 400px;
        -ms-grid-rows: 120px 600px 35px;
        background-image: url(/resources/images/assets/guitar_detail_gradient.png);
        background-size: 100%;
        height: 768px;
        border-right: 1px solid black;
    }

    #gdRightCol {
        -ms-grid-column: 2;
        width: 966px;
        height: 100%;
    }

    /*------------------------------------------------*/
    /*-------               HEADER          ----------*/
    /*------------------------------------------------*/
    #gdHeader {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        display: -ms-grid;
        -ms-grid-columns: 400px;
        -ms-grid-rows: 50px auto;
    }

    #gdCollectionBtns {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        background-color: black;
        width: 100%;
        height: 100%;
    }

    #gdHeaderTitle {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        width: 100%;
        height: 100%;
    }

        #gdHeaderTitle img {
            position: relative;
            left: 30px;
            top: 11px;
        }

    .gdHeaderTitle {
        margin-top: 15px;
        left: 36px;
        position: relative;
        width: 350px;
        overflow: hidden;
        font-family: 'Palatino Linotype', 'Segoe UI', Georgia, serif;
        font-style: italic;
    }

    #previousGuitar {
        float: left;
        position: relative;
        display: inline-block;
        top: 15px;
        left: 10px;
    }

    #nextGuitar {
        float: right;
        position: relative;
        display: inline-block;
        top: 15px;
        right: 10px;
    }

    /*------------------------------------------------*/
    /*-------                MAIN           ----------*/
    /*------------------------------------------------*/
    #gdMain {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column-span: 2;
        height: 100%;
        width: 1366px;
        display: -ms-grid;
    }

    #gdMainContent {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        height: 100%;
        width: 1366px;
        display: -ms-grid;
        -ms-grid-columns: 400px auto;
        -ms-grid-rows: 600px 770px;
        float: left;
        overflow: hidden;
    }

    #gdMenu {
        position: relative;
        left: 36px;
        top: 50px;
        width: 380px;
    }

    #gdMenuListView {
        left: 0px;
        top: 0px;
    }

        #gdMenuListView .win-listview {
            background-color: transparent;
        }

        #gdMenuListView .win-container {
            background-color: transparent;
        }

        #gdMenuListView .win-listview .win-surface {
            background-color: transparent;
        }

        #gdMenuListView .win-container:hover {
            outline: none;
            border: none;
        }

    .sectionMenuItem {
        height: 30px;
    }

        .sectionMenuItem img {
            height: 19px;
        }

        .sectionMenuItem .hr {
            border-top: 1px solid black;
            width: 330px;
            height: 1px;
            margin-bottom: 10px;
        }

    .audioTitle {
        /*font-size: 0.75em;*/
        font-family: 'Palatino Linotype', 'Segoe UI', Georgia, serif;
        font-style: italic;
    }

    .audioAuthor {
        /*font-size: 0.75em;*/
        font-family: 'Palatino Linotype', 'Segoe UI', Georgia, serif;
        font-style: italic;
    }

    #gdAudioListView {
        left: 5px;
        top: 0px;
        overflow-y: scroll;
        border-top: 1px solid black;
        width: 330px;
        background-color: transparent;
    }

        #gdAudioListView .win-listview {
            background-color: transparent;
        }

        #gdAudioListView .win-container {
            background-color: transparent;
        }

        #gdAudioListView .win-listview .win-surface {
            background-color: transparent;
        }

        #gdAudioListView .win-container:hover {
            outline: none;
            border: none;
        }

    .audioItem {
        clear: both;
        position: relative;
        width: 300px;
        margin-top: 5px;
    }

    #sectionContainer {
        display: none;
        top: 50px;
        left: 36px;
        position: relative;
        width: 380px;
    }

    #sectionContent {
        font-family: 'Palatino Linotype', 'Segoe UI', Georgia, serif;
        display: block;
        height: 500px;
        width: 330px;
        padding-right:20px;
        overflow-y: scroll;
    }

    #songListView {
        display: block;
        height: 500px;
        width: 300px;
        overflow: scroll;
    }

    /*------------------------------------------------*/
    /*-------              FOOTER           ----------*/
    /*------------------------------------------------*/
    #gdFooter {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        background-color: black;
        width: 400px;
        position: fixed;
        clear: both;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    #gdFooterContent {
        width: 100%;
    }

    /*------------------------------------------------*/
    /*-------         FOOTER MENU           ----------*/
    /*------------------------------------------------*/

    ul.gdBottomMenu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-left: 5px;
        height: 30px;
    }

        ul.gdBottomMenu li {
            float: left;
            margin: auto;
        }

            ul.gdBottomMenu li.last {
                background: none;
            }

        ul.gdBottomMenu a {
            background-image: url(/resources/images/assets/nav_bottom_dividerline.png);
            background-repeat: no-repeat;
            background-position: right;
            padding-right: 10px;
            padding-left: 5px;
            display: block;
            height: 35px;
        }

            ul.gdBottomMenu a img {
                margin-top: 5px;
            }

    /*-------------------------------------------------------------------------------------------*/
    /* image gallery */
    /*-------------------------------------------------------------------------------------------*/
    .photosContainer {
        top: 0px;
        left: 0px;
        width: 100%;
        display: block;
    }

    #photosListView {
        width: 900px;
        min-height: 700px;
        margin: 0 auto;
        position: relative;
        top: 60px;
        margin: 0 auto;
    }

        /* starting margin */
        #photosListView .win-horizontal.win-viewport .win-surface {
            margin: 0px 0px;
        }

    /* individual item dimensions */
    .photoItem {
        width: 205px;
        height: 205px;
        overflow: hidden;
    }

        /*image*/
        .photoItem img.photoImage {
            width: 205px;
            height: 205px;
            overflow: hidden;
        }

    .guitar360Img {
        height: 100%;
        -ms-touch-action: pinch-zoom;
    }



    /*-------------------------------------------------------------------------------------------*/
    /* object zoom */
    /*-------------------------------------------------------------------------------------------*/
    .objectzoom-main-container {
        width: 100%;
        height: 100%;
        display: -ms-grid;
        -ms-grid-rows: 10px 1fr 90% 1fr 10px;
        -ms-grid-columns: 20px 1fr 100% 1fr 20px;
    }

    .objectzoom-parent {
        display: table;
        height: 100%;
        width: 100%;
    }

    .zoomable-align {
        display: table-cell;
        vertical-align: middle;
        overflow: visible;
    }

    .objectzoom-zoomable {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    /*-------------------------------------------------------------------------------------------*/
    /* Audio progress bar*/
    /*-------------------------------------------------------------------------------------------*/
    .progressBar {
        width: 250px;
        height: 10px;
        background: url(/resources/images/assets/scrubbar-active.png) no-repeat;
        margin-left: 25px;
        margin-top: 5px;
        display: none;
    }

    .progress {
        background-color: #000;
        height: 20px;
        display: inline-block;
    }

    #poiContainer {
        margin: 0 auto;
        width: 50%;
        display: none;
    }

    #defaultImageContainer {
        margin: 0 auto;
        width: 960px;
        height: 764px;
        overflow: hidden;
    }
}

/*-------------------------------------------------------------------------------------------*/
/* PORTRAIT                                                                                  */
/*-------------------------------------------------------------------------------------------*/
@media screen and (-ms-view-state: fullscreen-portrait) {
    .guitarDetails {
        display: -ms-grid;
        -ms-grid-columns: 100vw;
        -ms-grid-rows: 100vh;
    }

    #gdLeftCol {
        display: none;
    }

    #gdRightCol {
        -ms-grid-column: 1;
        /*width: 966px;*/
        width: 1366px;
        height: 768px;
    }

    #defaultImageContainer {
        margin: 0 auto;
        width: 100%;
        /*height: 100%;*/
        overflow: hidden;
    }
}
