﻿.intro {
    display: -ms-grid;
    -ms-grid-columns: 1366px;
    -ms-grid-rows:770px 30px;
    background-color: black;
}

#main {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    width: 100%;
}

#content {
    margin: 0px auto;
    width: 75%;
}

#footer {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#footerContent {
    width: 10%;
    margin: 0px auto;
    position: relative;
}