﻿.appTour {
    display: -ms-grid;
    -ms-grid-columns: 30px 1fr;
    -ms-grid-rows: 120px 568px 35px;
}

#atHeader {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    /* Child grid for positioning header items.*/
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
}

#atHeaderContent {
    padding-left: 40px;
    padding-top: 15px;
    display: -ms-grid;
    -ms-grid-rows: 31px 20px;
    -ms-grid-columns: 700px;    
}

#atMain {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
    width: 100%;
}

#atFooter {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 3;
    background-color: black;
    width: 100%;
    position: fixed;
    clear: both;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#atFooterContent {
    width: 100%;
}

ul#bottomMenu {
    display: block;
}

    ul#bottomMenu li {
        display: inline;
        float: left;
        background: url(/resources/images/assets/nav_bottom_dividerline.png) right no-repeat;
        height: 30px;
        padding: 2px 2px 2px 2px;
        width: 30px;
    }

        ul#bottomMenu li.last {
            background: none;
        }

#apListView {
    width: 100%;
    left: 0px;
    top: 0px;
    height: 700px;
}

    #apListView.listview {
        width: 100vw;
        height: 100vh;
    }

    #apListView > .win-horizontal .win-container {
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #apListView .win-container:hover {
        outline: none;
        border: none;
    }

.atItemTemplate {
    height: 608px;
    display: -ms-grid;
    -ms-grid-columns: 600px;
    -ms-grid-rows: 608;
}

.tourText {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    padding-bottom: 10px;
}

.tourImageContainer {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: 485px;
    width: 600px;
}

.image {
    height: 100%;
}

.audioTitle {
    font-family: 'Palatino Linotype', 'Segoe UI', Georgia, serif;
    text-transform: uppercase;
}
