﻿.videoVault {
    display: -ms-grid;
    -ms-grid-columns: 1362px;
    -ms-grid-rows: 120px 600px 35px;
}

/*------------------------------------------------*/
/*------------         HEADER        -------------*/
/*------------------------------------------------*/
#vHeader {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.vHeaderContent {
    padding-left: 40px;
    padding-top: 15px;
}

.internetRequired {
    right: 10px;
    float: right;
}

/*------------------------------------------------*/
/*------------          MAIN         -------------*/
/*------------------------------------------------*/
#vMain {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 1;
    /* Child grid for positioning header items.*/
    display: -ms-grid;
    -ms-grid-columns: 1362px;
    -ms-grid-rows: 680px 120px;
}

#videoPlayerContainer {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin: 0 auto;
    height: 400px;
    width: 100%;
    display: -ms-grid;
    -ms-grid-columns: 700px 200px;
}

#videoListContainer {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: 250px;
    width: 100%;
}

/*------------------------------------------------*/
/*------------         FOOTER        -------------*/
/*------------------------------------------------*/
#vFooter {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.vFooterContent {
    width: 100%;
    position: fixed;
    clear: both;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: black;
}

ul#bottomMenu {
    display: block;
}

    ul#bottomMenu li {
        display: inline;
        float: left;
        background: url(/resources/images/assets/nav_bottom_dividerline.png) right no-repeat;
        height: 30px;
        padding: 2px 2px 2px 2px;
        width: 30px;
    }

        ul#bottomMenu li.last {
            background: none;
        }


/* Define the template for full-screen, fill, and device-portrait */
@media (-ms-view-state: fullscreen-landscape), (-ms-view-state: filled), (-ms-view-state: fullscreen-portrait) {
}

.videoThumb {
    width: 343px;
    height: 250px;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    display: -ms-grid;
    -ms-grid-columns: 343px;
    -ms-grid-rows: 124px 36px;
    background-color: white;
    color: black;
}

    /*image*/
    .videoThumb img.videoThumbImage {
        width: 160px;
        height: 114px;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -80px; /* negative half the size of width */
        box-shadow: -3px 3px 5px gray;
    }

    .videoThumb span {
        font-family: 'Palatino Linotype', 'Segoe UI', Georgia, serif;
        font-style: italic;
    }

    .videoThumb:hover {
        background-color: black;
        color: white;
    }

.active {
    background-color: black;
    color: white;
}

    .active img.videoThumbImage {
        box-shadow: none;
    }

.videoThumbTitle {
    -ms-grid-row: 2;
    position: relative;
    bottom: 0px;
    margin: 0 auto;
    height: 36px;
    width: 75%;
    margin-top: 5px;
    text-align:center
}

#videoListView {
    height: 186px;
    margin: 0 auto;
    overflow-x: scroll;
    border-top: 2px solid black;
}

    /* starting margin */
    #videoListView .win-horizontal.win-viewport .win-surface {
        margin: 0px 0px;
    }


#videoToPlay {
    margin-top: -190px; /* negative half the size of height */
    margin-left: -64px; /* negative half the size of width */
    position: fixed;
    top: 40%;
    left: 10%;
    -ms-grid-column: 1;
}


#videoTitleDiv {
    float: right;
    top: 85%;
    margin-top: -200px; /* negative half the size of height */
    position: fixed;
    margin-left: 25px;
    -ms-grid-column: 2;
}
