﻿.imageGallery {
    display: -ms-grid;
    -ms-grid-columns: 30px 1fr;
    -ms-grid-rows: 120px auto 35px;
}

#igHeader {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    /* Child grid for positioning header items.*/
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
}

.igHeaderContent {
    padding-left: 40px;
    padding-top: 15px;
}

#igMain {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
    width: 100%;
    height: 100%;
}


#igFooter {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 2;
    position: fixed;
    clear: both;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: black;
    width: 100%;
}

.igFooterContent {
    width: 100%;
}

ul#bottomMenu {
    display: block;
}

    ul#bottomMenu li {
        display: inline;
        float: left;
        background: url(/resources/images/assets/nav_bottom_dividerline.png) right no-repeat;
        height: 30px;
        padding: 2px 2px 2px 2px;
        width: 30px;
    }

        ul#bottomMenu li.last {
            background: none;
        }


/* Define the template for full-screen, fill, and device-portrait */
@media (-ms-view-state: fullscreen-landscape), (-ms-view-state: filled), (-ms-view-state: fullscreen-portrait) {
    /*-------------------------------------------------------------------------------------------*/
    /* image-galleryBasket - used in Picker gallery basket */
    /*-------------------------------------------------------------------------------------------*/
    #photosListView {
        width: 1366px;
        min-height: 578px;
        margin: 0 auto;
    }

        /* starting margin */
        #photosListView .win-horizontal.win-viewport .win-surface {
            margin: 0px 25px;
        }

        #photosListView.listview {
            width: 100vw;
            height: 100vh;
        }

        #photosListView > .win-horizontal .win-container {
            margin-top: 0px;
            margin-right: 5px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #photosListView .win-container:hover {
            outline: none;
            border: none;
        }


    /* individual item dimensions */
    .photoItem {
        width: 205px;
        height: 205px;
        overflow: hidden;
    }

        /*image*/
        .photoItem img.photoImage {
            width: 205px;
            height: 205px;
            overflow: hidden;
        }
}
